* {
	font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro W3', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 18px;
}
.logo_img{
    width: 45%;
    margin: 30vw auto 10vw;
}
.logo_img img{
    width: 100%;
}
.loading_text{
    text-align: center;
    font-size: 9vw;
    font-weight: bold;
    color: #036eb8;
}