@charset "utf-8";

.js-modal-open, .js-modal-open2 {
	cursor: pointer;
}
.create_btn store_profile_btn{
	padding-left: 0px;
    padding-right: 0px;
}
.modal{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 1000;
	display:none;
}
.pop-btn{
    border-radius: 0 0 10px 10px;
    width: 100%;
    margin: 0 auto;
}
.modal_bg{
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100vh;
	position: absolute;
}

.modal_content{
    background: #fff;
	width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.modal_inner{
    padding: 16vw 5vw 5vw 4vw;
}
.lang_box{
    display: flex;
}
.js-modal-close, .js-modal-close2{
    width: 4.834vw;
    height: 4.834vw;
    position: absolute;
    top: 3.5vw;
    right: 3.5vw;
}
.js-modal-close:before, .js-modal-close2:before{
    content: '';
    width: 0.5vw;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
}
.js-modal-close:after, .js-modal-close2:after{
    content: '';
    width: 0.5vw;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0) rotate(135deg);
}
.box_height {
    height: 100%;
    overflow: hidden;
}




.inline_org {
    position: relative;
    line-height: 12vw;
    border-bottom: 2px dashed #939393;
    padding-left: 3.5vw;
    margin-top: 1.2vw;
}
.inline_org input[type=radio]{
    display: none;
}
.occupation_label {
    font-size: 3.9vw;
}
.occupation_label:after, .occupation_label:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
}
.inline_org input[type="radio"]:checked + .occupation_label:before{
    opacity: 1;
}
.occupation_label:before{
    right: 6vw;
    margin-top: -2.5vw;
    width: 2.2vw;
    height: 3.5vw;
    border-right: 0.8vw solid #00a0e8;
    border-bottom: 0.8vw solid #00a0e8;
    transform: rotate( 45deg);
    opacity: 0;
    z-index: 10;
}
.occupation_label:after{
    right: 3.6vw;
    margin-top: -4vw;
    width: 7.4vw;
    height: 7.4vw;
    border: 1px solid #afafaf;
    background-color: #fff;
    border-radius: 30px;
}








