* {
	font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro W3', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 18px;
}
header{
    background-color: #036eb8;
    color: #fff;
    padding: 8.5vw 0 3vw;
}
header p{
    font-weight: bold;
    font-size: 6.2vw;
    text-align: center;
}