* {
    font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro W3', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 18px;
}

.main_inner {
    padding: 6vw 4.95vw;
}

.before_text {
    border: 1px solid #036eb8;
    position: relative;
    padding: 3.7vw 10.9vw 3.7vw 6vw;
    height: 47.102vw;
}

.record_img {
    position: absolute;
    right: 2%;
    top: 3%;
    width: 7.25vw;
}

.before_text textarea {
    font-size: 4vw;
    color: #717071;
    width: 100%;
    height: 100%;
    line-height: 5.08vw;
}

.language {
    margin: 4vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language p {
    border: 1px solid #036eb8;
    width: 38.165vw;
    height: 9.665vw;
    line-height: 9vw;
    font-size: 4.8vw;
    padding-left: 2.5vw;
}

.language img {
    width: 10.87vw;
}

.after_text {
    background-color: #d3e7f7;
    padding: 3.7vw 4vw;
    height: 47.102vw;
}

.sound {
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
}

.sound img {
    width: 8.456vw;
}

.sound p {
    font-size: 4vw;
    margin-left: 4.5vw;
}

.after_text textarea {
    font-size: 5vw;
    color: #000;
    width: 100%;
    height: 80%;
    line-height: 5.08vw;
}

.record_button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 49vw);
}

.record_button img {
    width: 100%;
    cursor: pointer;
}